.nav {
    grid-area: n;
    background-color: burlywood;
    margin: 0px 5px 0px 0px;
    padding: 15px 20px 0px 20px;
}

.set {
    padding-top: 30px;
    color: white;
}

.item {
    color: white;
}

.item.active {
    color: gold
}
